body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
    color: #252432;
}

body {
    background-color: #F5F8FF;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.text-primary {
    color: #4E47FF;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
}

/* header  */
.header {
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0px;
    max-width: 1140px;
    margin: 0 auto;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    margin: 0px;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    height: calc(100% - 150px);
    align-items: center;
    justify-content: center;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    max-width: 905px;
    text-align: center;
    margin-bottom: 50px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 115px;
    margin-bottom: 115px;
}

/* action section styles */
.action-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action-description {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 25px;
    max-width: 520px;
    opacity: 0.5;
}

.action-image {
    width: 400px;
    height: 330px;
    border-radius: 48px;
}

/* productive user section styles */
.productive-user-area {
    background-color: rgba(78, 71, 255, 10%);
    border-radius: 24px;
    padding: 50px 140px;
}

.productive-user-title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.statistics-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistic-number {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.statistic-name {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    opacity: 50%;
    text-align: center;
}

/* Feedback user styles */

.feedback-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.feedback-cards {
    display: flex;
    column-gap: 25px;
}

.single-feedback {
    background-color: #ffffff;
    border: 1px solid #D6DDED;
    border-radius: 14px;
    padding: 24px;
}

.rating-list {
    display: flex;
    align-items: center;
    column-gap: 3px;
    padding: 0;
    margin: 0px 0px 15px;
}

.rating-list li {
    list-style: none;
}

.feedback-summary {
    margin-bottom: 10px;
}

.feedback-text {
    margin-bottom: 20px;
}

.feedback-giver {
    display: flex;
    column-gap: 15px;
}

.feedback-giver img {
    border-radius: 50%;
}

.feedbacker-name {
    opacity: 50%;
}

.date {
    opacity: 50%;
    font-size: 15px;
}

/* Let’s get in touch section styles */
.get-in-touch-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width-50 {
    width: 50%;
}

.get-in-touch-title {
    font-size: 95px;
    font-weight: bold;
    color: #000000;
}

.get-in-touch-form label {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    display: inline-block;
}

.get-in-touch-form input[type="text"],
.get-in-touch-form input[type="email"] {
    height: 70px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 25px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 50%);
    box-sizing: border-box;
}

.get-in-touch-form textarea {
    height: 135px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 25px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 50%);
    box-sizing: border-box;
}

.get-in-touch-form .btn-primary {
    display: block;
    width: 100%;
    padding: 22px 35px;
}

/* footer styles */
.footer-area {
    background-color: #ffffff;
    padding: 150px 100px;
}

.footer-title {
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    text-align: center;
    margin-bottom: 15px;
}

.footer-description {
    font-size: 16px;
    color: #8987A1;
    width: 530px;
    text-align: center;
    margin: 0px auto 25px;
}

.footer-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link-list li {
    list-style: none;
    margin-right: 50px;
}

.footer-link-list li a {
    text-decoration: none;
    color: #8987A1;
}